.content {
  width: 100%;
  max-width: 1100px; /* Ограничение для больших экранов */
  min-width: 320px; /* Минимальная ширина, когда появляется скролл */
  margin: 0 auto; /* Центрирование всего контента по центру экрана */
  padding: 0 1em;
  box-sizing: border-box;
}
