.element {
  background-color: darkgrey;
  border-radius: 2px;
  height: 100%;
  box-sizing: border-box;
  flex-basis: 1px;
  flex-grow: 1;
  transition: opacity 0.2s;
  position: relative;
}

/* Все элементы во время расчета */
.field_status_in-progress * {
  opacity: 0.1;
}

/* Обрабатываемый сейчас элемент */
.element_status_active {
  opacity: 1;
  box-shadow: 0 0 .5em rgba(0, 0, 0, .2);
}

.element_status_active::before,
.element_status_active::after {
  position: absolute;
  width: 1em;
  height: 1em;
  left: 50%;
  color: rgba(128, 128, 128, .5);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: .3;
}

.element_status_active::before {
  content: '';
  top: -.1em;
  transform: translate(-50%, -100%);
  background-image: url(../images/icon__arrow-down.svg);
}

.element_status_active::after {
  content: '';
  bottom: -.1em;
  transform: translate(-50%, 100%);
  background-image: url(../images/icon__arrow-up.svg);
}

/* Отсортированный элемент */
.element_status_done {
  opacity: .7;
}
