.footer {
  padding: 4em 0 3em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.footer__text {
  margin: 0;
  font-family: 'Open Sans', serif;
  font-size: 1em;
  text-align: center;
  opacity: .7;
}
