.general-controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
}

.general-controls__create-form {
  display: flex;
  gap: .5em;
  align-items: baseline;
}
