/* Общий блок для всего содержимого */
.page {
  /* Шрифт для всей страницы */
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  /* Цвета страницы */
  background-color: #ecebe8;
  color: #000;
}

/* Ссылки */
a {
  color: inherit;
}

a:hover {
  opacity: .7;
}
