.playground {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-areas:
    "field controls"
    "field results";
  padding: 1em 0;
  gap: 1em;
}

@media (max-width: 768px) {
  .playground {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "field field"
      "controls results";
  }
}

@media (max-width: 425px) {
  .playground {
    grid-template-columns: 1fr;
    grid-template-areas:
      "field"
      "controls"
      "results";
  }
}

.playground__field {
  grid-area: field;
}

@media (max-width: 768px) {
  .playground__field {
    margin: 0 -1em;
  }
}

.playground__controls {
  grid-area: controls;
}

.playground__results {
  grid-area: results;
}
